[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Default
Name[ab]=默认
Name[cs]=Výchozí
Name[el]=Προκαθορισμένο
Name[eo]=Aprioro
Name[es]=Predefinido
Name[fr]=Prédéfini
Name[gl]=Predefinido
Name[hu]=Alapértelmezett
Name[it]=Predefinito
Name[ko]=기본
Name[pt]=Predefinições
Name[ru]=Заново
Name[tr]=Öntanımlı
Name[zh_CN]=默认
Comment=Select this to begin<br>the initial setup again.
Comment[cs]=Vyberte pro znovuspuštění<br>tohoto průvodce.
Comment[el]=Επέλεξε αυτό για να <br>ξεκινήσεις την αρχική ρύθμιση ξανά.
Comment[eo]=Elektu tion por restartigi<br>la pravalorizan agordon.
Comment[fr]=Sélectionnez ceci pour retrouver<br>la configuration par défaut et<br>reprendre le paramétrage initial.
Comment[hu]=Válaszd ezt az alap<br>beállítáok megismétléséhez.
Comment[it]=Selezionare questo per riprendere<br>la configurazione iniziale.
Comment[pt]=Escolha isto para executar novamente a configuração inicial
Comment[ru]=Выберите это для запуска<br>инициализации настроек (сброс).
Comment[zh_CN]=点击这里重新进行初始化设置主题。
Icon=icon.png
