[Desktop Entry]
Categories=System;Settings;DesktopSettings;
Comment=Elementary Configuration
Comment[cs]=Konfigurace Elementary
Comment[eo]=Agordoj de Elementary
Comment[es]=Configuración de Elementary
Comment[fr]=Configuration pour Elementary
Comment[gl]=Configuración de Elementary
Comment[it]=Configurazione di Elementary
Comment[pt]=Configure o Elementary
Comment[ru]=Конфигурация для Elementary (Элементарий)
Encoding=UTF-8
Exec=elementary_config
Icon=elementary
Name=Elementary Configuration
Name[cs]=Konfigurace Elementary
Name[eo]=Agordoj de Elementary
Name[es]=Configuración de Elementary
Name[fr]=Configuration pour Elementary
Name[gl]=Configuración de Elementary
Name[it]=Configurazione di Elementary
Name[pt]=Configure o Elementary
Name[ru]=Конфигурация для Elementary (Элементарий)
Terminal=false
Type=Application
