[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Elementary Configuration
Name[Name]=Elementary Configuration
Name[ab]=
Name[ca]=
Name[cs]=Konfigurace Elementary
Name[de]=
Name[el]=
Name[eo]=Agordoj de Elementary
Name[es]=Configuración de Elementary
Name[fr]=Configuration pour Elementary
Name[gl]=Configuración de Elementary
Name[hu]=
Name[it]=Configurazione di Elementary
Name[ja]=
Name[ko]=
Name[pt]=Configure o Elementary
Name[ru]=Конфигурация для Elementary (Элементарий)
Name[sr]=
Name[tr]=
Comment=Elementary Configuration
Comment[cs]=Konfigurace Elementary
Comment[eo]=Agordoj de Elementary
Comment[es]=Configuración de Elementary
Comment[fr]=Configuration pour Elementary
Comment[gl]=Configuración de Elementary
Comment[it]=Configurazione di Elementary
Comment[pt]=Configure o Elementary
Comment[ru]=Конфигурация для Elementary (Элементарий)
Icon=elementary
Exec=elementary_config
Terminal=false
Categories=System;Settings;DesktopSettings;
